.login-wrapper {
    background-image: url('../../assetsStaging/img/bg_login.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
}
.login-wrapper::before {
    content: '';
    background-image: url('../../assetsStaging/img/login_purple_layer.png');
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.login-logo {
    position: relative;
    z-index: 9;
}
.login-card {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 24px 18px;
    position: relative;
    z-index: 9;
}
a {
    color: #7CD327;
}
.login-box-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18)
}
.bg-blue{
    background-color: #2B229A;
}
.text-blue{
    color: #2B229A;
}