/* player cover */
.player-cover {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.player-cover .pict {
    width: 20%;
    height: auto;
    /* text-align: center; */
}
.player-cover .pict .a {
    width: 100%;
    height: auto;
}
.player-cover .pict .b {
    width: 35%;
    margin-top: -3.5em;
    margin-right: 0em;
    vertical-align: middle;
    margin-left: 3.5em;
}
.player-cover .name {
    color: white;
    font-weight: bold;
}
.player-cover .pos {
    padding: .25em 0;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
}
.player-cover .pos span:first-child {border-right: 1px solid white;}
.player-cover .pos span:first-child,
.player-cover .pos span:last-child {
    width: 50%;
    display: block;
    padding: .25em 1em;
    color: white;
    font-weight: bold;
}

/* player menu */
.player-menu {
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}
.player-menu li {
    display: inline-block;
    min-width: 33% !important;
    text-align: center;
}
.player-menu li.active a {
    color: #D6CED9;
    border-bottom: .25em solid #D6CED9;
}
.player-menu li a {
    color: #FD4E52;
    font-weight: bold;
    display: block;
    padding: .75em 1em;
}

/* matches */
.matches {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    background: url(../../assetsStaging/img/stadium.png) no-repeat, linear-gradient(to bottom, rgb(28, 51, 8), black);
    background-size: 100% 100%, cover;
    background-position: 0 0;
}
.matches .club-left, .matches .club-right {color: white}
.matches .club-left .logo, .matches .club-right .logo {
    background-color: white;
    padding: .5em;
    border-radius: 50%;
}
.matches .club-left img, .matches .club-right img {width: 60px}
.matches .mid {
    font-size: 10pt;
    color: white;
}

/* player info */
.player-highlight h5 {
    font-weight: bold;
    font-size: 11pt;
}
.player-highlight ul {
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}
.player-highlight ul li {
    display: inline-block;
    padding: .75em 1em;
    margin-right: .5em;
    background-color: white;
    min-width: 25% !important;
    border-radius: 5px;
    text-align: center;
}    
.player-highlight ul li span:first-child {
    display: block;
    font-size: 15pt;
    font-weight: bolder;
}
.player-highlight ul li span:last-child {
    font-size: 9pt;
    color: #A3A3A3;
}

/* player info */
.player-info .name {
    padding: .5em;
    color: white;
    text-align: center;
    background-color: #D1171B;
}
.player-info .tag {
    padding: .75em .5em;
    color: white;
    text-align: center;
    background-color: #2D2D94;
}
.player-info table {margin: 0}
.player-info table tr td {border: 0}
.player-info table tr td:last-child {
    text-align: right;
    color: #1F1F1F;
    font-weight: 900;
}
.player-info .personal,
.player-info .career {
    padding: 0.75em 1em;
    background-color: #fff;
}

.player-info ul {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
.player-info ul li {
    display: inline-block;
    white-space: normal;
    list-style: none;
    text-align: center;
    margin: 0 1em;
    min-width: 20%;
}
.player-info ul li .cover-img {
    padding: .5em;
    width: inherit;
    height: 80px;
}
.player-info ul li .cover-img img {
    max-width: 100%;
    height: 100%;
}
.player-info ul li span {
    display: block;
    color: #A4A3A3;
    font-size: 9pt;
    font-weight: lighter;
}
.player-info .club-hstr,
.player-info .competion-hstr {
    background-color: white;
    padding: 1em;
}
.player-info .competion-hstr h3 {
    margin: .25em 0;
}
.bg-whitepurple {
    background-color: #F94848;
}
.container-fluid {
    /* padding-right: 0;
    padding-left: 0; */
    /* margin-right: -15px;
    margin-left: -15px; */
}
.st, td, tr, th {
    text-align: initial;
    border-top: none;
    font-size: initial;
}

/* player match */
.player-match table thead {
    font-size: 9pt;
}
.player-match table tbody td {
    vertical-align: middle;
    font-size: 9pt;
}
.player-match .c-league .cover-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.player-match .c-league .cover-img img {
    height: 100%;
}
.player-match .c-competion {
    display: flex;
    justify-content: center;
}
.player-match .c-competion img {width: 25px}
.player-match .c-competion span {display: block}
.player-match .c-competion .score {
    max-width: 50%;
    margin-top: .5em;
}
.player-match .c-competion .clubr,
.player-match .c-competion .clubl {
    padding: 0 .5em;
    font-weight: bolder;
}

td {
    text-align: inherit;
}

    /* player stats main */
    .player-stats-main {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .player-stats-main .box {
        width: 50%;
        height: 150px;
        text-align: center;
        border-color: #E5E5E5;
    }
    .player-stats-main .box:first-child {padding: 1em 4em 4em 2em}
    .player-stats-main .box:nth-child(2) {padding: 1em 2em 4em 4em}
    .player-stats-main .box:nth-child(4) {padding: 4em 4em 1em 2em}
    .player-stats-main .box:nth-child(5) {padding: 4em 2em 1em 4em}
    .player-stats-main .progress-circle::after {
        background-color: #FA2427;
    }
    .player-stats-main .progress-circle > span:hover {
        color: white;
    }
    .player-stats-main .progress-circle > span {
        display: flex;
        flex-direction: column;
        font-size: 10pt;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        line-height: 1;
        white-space: normal;
    }

    /* player stats detail */
    .player-stats-detail h3 {
        border-radius: .5em .5em 0 0;
    }
    .player-stats-detail ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .player-stats-detail ul li {
        display: flex;
        align-items: center;
        padding: 1em;
    }
    .player-stats-detail ul li:not(:last-child) {
        border-bottom: 1px solid #E5E5E5;
    }
    .player-stats-detail ul li span:first-child {
        font-weight: bold;
    }
    .player-stats-detail ul li span:last-child {
        margin-left: auto;
        display: inline-block;
        color: #AC4CB7;
        border: 1px solid #AC4CB7;
        border-radius: 1.5em;
        text-align: center;
        font-weight: bold;
        padding: .25em .5em;
        width: 15%;
    }
    

